.App {
  text-align: center;
}

.menu {
  background-color: darkslateblue;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.content {
  text-align: center;
}